<div class="grid">
    <div class="col-12 layoutPad">

        <div class="grid mt-4 mb-2">
            <div class="col-12 text-right">
                <p-button (click)="openNewAuthorDialog()" label="New Author" class="mr-1">
                </p-button>
                <p-button label="New Book">
                </p-button>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">
                <p-table [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{ rowData[col.field] }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<app-add-author-dialog #ad (refreshData)="getData()"></app-add-author-dialog>