<p-dialog [(visible)]="dialogVisible" [modal]="true" [draggable]="false" [style]="{width: '60%'}">

    <p-progressSpinner class="modalLoader" *ngIf="isSaving"></p-progressSpinner>

    <ng-template pTemplate="header">
        <span> Author </span>
    </ng-template>

    <div class="grid mt-2">
        <div class="col-6">
            <div class="text-medium mb-1">Name</div>
            <input #t pInputTextarea [(ngModel)]="name" />
        </div>
    </div>
    <p-footer>
        <div class="grid">
            <div class="col-12 text-right">
                <button pButton pRipple (click)="cancel()" type="button" label="CANCEL"></button>
                <button pButton pRipple type="button" label="CREATE" (click)="save()" [disabled]="!(name?.length > 0)">
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>